steps:
- name: 'gcr.io/google.com/cloudsdktool/cloud-sdk'
  args:
  - gcloud
  - functions
  - deploy
  - traffic_generator
  - --region=us-east1
  - --source=.
  - --memory=128MB
  - --trigger-topic=traffic_gen
  - --runtime=python39